extends base/base

block vars
  -var pageTitle = 'Investors control panel';
  -var isAuthorized = true;

block content
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-default
        .panel-body.js-has-overlay
          include lib/overlay-loader
          form#setPassword.js-generic-form(
          role="form", data-toggle="validator" action="" method="post", data-url="profile.html")
            .row
              .col-xs-12
                .alert.hidden.js-form-alert.text-center
            .row
              .col-xs-12
                .form-group
                  label.control-label(for='setPasswordPassword') Password
                  input#setPasswordPassword.form-control(
                  type='password', placeholder='Password', required=true, name='password'
                  data-minlength=8)
                  .help-block.with-errors
            .row
              .col-xs-12
                .form-group
                  label.control-label(for='setPasswordPasswordRepeate') Password repeate
                  input#setPasswordPasswordRepeate.form-control(
                  type='password', placeholder='Password repeate', required=true, name='password',
                  data-match='#setPasswordPassword', data-minlength=8)
                  .help-block.with-errors
            .row
              .col-xs-12
                .form-group
                  button.btn.btn-primary.pull-right(type='submit') Save